{% set purchase = app.session.get('purchase') %}
{% set totalProducts = app.session.get('total') %}

<div class="row">
    <div class="col-md-8">
        <h4 class="h4 mb-4">({{ totalProducts ? totalProducts : 0 }}) Articulos en la cesta</h4>

        <div class="card shadow mb-5">
            {% set totalPrice = 0 %}
            {% if purchase.purchaseProducts is defined and purchase.purchaseProducts | length > 0 %}
                {% for purchaseProduct in purchase.purchaseProducts %}
                    {% set product = purchaseProduct.product %}
                    <li class="media card-body">
                        <a href="{{ path('products_product', {'product' : product.id}) }}">
                            <img src="{{ asset('uploads/products/'~product.id~'/'~product.imageUrl) }}" class="mr-3"
                                 width="100" alt="{{ product.name }}"></a>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1 d-flex justify-content-between align-items-center">{{ product.name }}
                                <span>{{ product.price | number_format(2,',','.') }} €</span></h5>
                            <p>{{ product.description | nl2br }}</p>
                            <div class="row">
                                <div class="col-sm-4 mb-4 input-group">
                                    <span class="input-group-btn">
                                        <button {{ purchaseProduct.quantity <= 1 ? 'disabled' : '' }}
                                                type="button" class="btn btn-light"
                                                onclick="sumProductCart({{ product.id }}, false);">
                                            <span class="fa fa-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" readonly class="form-control"
                                           value="{{ purchaseProduct.quantity }}" id="{{ product.id }}">
                                    <span class="input-group-btn">
                                        <button {{ product.stock <= purchaseProduct.quantity ? 'disabled' : '' }}
                                                type="button" class="btn btn-light"
                                                onclick="sumProductCart({{ product.id }}, true);">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </span>
                                </div>
                                <div class="col-sm-4 mb-4">
                                    <span><strong>Total: </strong>{{ (product.price * purchaseProduct.quantity) | number_format(2,',','.') }} €</span>
                                </div>
                                <div class="col-sm-4 mb-4">
                                    <button onclick="deleteProductCart({{ product.id }});"
                                            class="btn btn-danger btn-sm small">X
                                    </button>
                                </div>
                            </div>
                            {% if product.stock < purchaseProduct.quantity %}
                                <span class="text-danger small">No hay stock para las {{ purchaseProduct.quantity }} unidades. Solo podremos suministrarte {{ product.stock }}. El resto, se suministrará a medida que haya stock.</span>
                            {% endif %}
                        </div>
                    </li>
                    {% set totalPrice = totalPrice + (product.price * purchaseProduct.quantity) %}
                    <hr>
                {% endfor %}
            {% else %}
                <p class="text-center mt-4">No tienes productos en la cesta</p>
                <hr>
            {% endif %}
            <div class="d-flex flex-wrap justify-content-between align-items-center text-center"
                 style="padding: 0 20px 10px 20px;">
                <a type="button" href="{{ path('products') }}" class="btn btn-outline-dark mb-2">Seguir comprando</a>
                {% if not app.user %}<a type="button" href="{{ path('app_login') }}" class="btn btn-primary mb-2">
                        Iniciar Sesión</a>{% endif %}
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="h4 card-title text-center">Total pedido</h4>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Total artículos</strong>
                        <span>{{ totalPrice | number_format(2,',','.') }} €</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>IVA 21%</strong>
                        {% set iva = (totalPrice * 21)/100 %}
                        <span>{{ iva | number_format(2,',','.') }} €</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-right">
                <div class="pl-3 pr-3 d-flex justify-content-between align-items-center">
                    <strong>TOTAL</strong>
                    <span>{{ (totalPrice + iva) | number_format(2,',','.') }} €</span>
                </div>
            </div>
        </div>
        <div>
            <a type="button" href="{{ path('purchase') }}"
               class="btn btn-success w-100 mt-4 {{ totalProducts <= 0 or totalProducts is null ? 'disabled' : '' }}">Tramitar
                pedido</a>
        </div>
    </div>
</div>
