{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - Mi cesta{% endblock %}

 {% block breadcrumb %}
     <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
     <li class="breadcrumb-item active" aria-current="page">Mi cesta</li>
 {% endblock %}

{% block container %}

    <div id="cart">
        {% include 'cart/cart.html.twig' %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        const
            $urlDeleteProductCart = '{{ path('cart_delete_product') }}',
            $urlAddProductCart = '{{ path('cart_add_product') }}'
        ;
    </script>
    {{ encore_entry_script_tags('cart') }}
{% endblock %}
