{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - Mi Cuenta{% endblock %}

 {% block breadcrumb %}
     <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
     <li class="breadcrumb-item active" aria-current="page">Mi Cuenta</li>
 {% endblock %}

{% block container %}

    <div class="row">
        <div class="col-md-3 mb-5">
            <div class="nav flex-column nav-pills" id="tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link {{ tab == 'purchases' ? 'active' : '' }}" id="purchases-tab" data-toggle="pill" href="#purchases" role="tab" aria-controls="purchases" aria-selected="true">Pedidos</a>
                <a class="nav-link {{ tab == 'profile' ? 'active' : '' }}" id="profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Perfil</a>
                <a class="nav-link {{ tab == 'settings' ? 'active' : '' }}" id="settings-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Configuración</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link" href="{{ path('app_logout') }}" data-target="#logoutModal" role="tab" data-toggle="modal" aria-selected="false"
                   onclick="showModalLogout();">Cerrar sesión</a>
            </div>
        </div>
        <div class="col-md-9 mb-5">
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade {{ tab == 'purchases' ? 'show active' : '' }}" id="purchases" role="tabpanel" aria-labelledby="purchases-tab">
                    {% include 'account/purchases/purchases.html.twig' %}
                </div>
                <div class="tab-pane fade {{ tab == 'profile' ? 'show active' : '' }}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {% include 'account/profile/profile.html.twig' %}
                </div>
                <div class="tab-pane fade {{ tab == 'settings' ? 'show active' : '' }}" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    {% include 'account/settings/changePassword.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let isToastr = {{ toastr }},
            status = '{{ status }}',
            message = '{{ message }}'
        ;
    </script>
    {{ encore_entry_script_tags('account') }}
{% endblock %}
