{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión{% endblock %}

{% block body %}
    <div class="row m-0 justify-content-center align-items-center text-center" style="height: 90vh!important">
        <form id="form_signin" class="col-sm-4" method="post">

            <a href="{{ path('index') }}"><img class="mb-4" src="{{ asset('build/images/shuoc.png') }}" alt="shuoc"
                                               width="72" height="72"></a>
            <h1 class="h3 mb-3 font-weight-normal">SHUOC</h1>
            <h5 class="h5 mb-3 font-weight-normal">Iniciar sesión</h5>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       required
                       autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="sr-only">Contraseña</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-check mt-3 mb-3 text-left">
                <input class="form-check-input" type="checkbox" name="remember-me" id="remember_me" checked>
                <label class="form-check-label" for="remember_me">Recuérdame</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block small" type="submit">Acceder</button>
            <p class="mt-3">¿Aún no tienes cuenta? <a href="{{ path('app_register') }}">Regístrate</a></p>
            <p><a href="welcome_to_matrix">Olvidé mi contraseña</a></p>
        </form>
    </div>




{% endblock %}
