{% extends 'base.html.twig' %}

{% block title %}Nuevo cliente{% endblock %}

{% block body %}

    <div class="row m-0 justify-content-center align-items-center text-center" style="height: 90vh!important">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {{ form_start(registrationForm, {'attr': {'class':'col-sm-4', 'id' : 'form_register', 'novalidate':'novalidate' }}) }}

        <a href="{{ path('index') }}"><img class="mb-4" src="{{ asset('build/images/shuoc.png') }}" alt="" width="72" height="72"></a>
        <h1 class="h3 mb-3 font-weight-normal">SHUOC</h1>
        <h5 class="h5 mb-3 font-weight-normal">Nuevo cliente</h5>

        <div class="row">
            <div class="col-lg-5">
                {{ form_row(registrationForm.name) }}
            </div>
            <div class="col-lg-7">
                {{ form_row(registrationForm.surnames) }}
            </div>
        </div>



        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <div class="checkbox mt-3 mb-3 text-left">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>


        <button class="btn btn-lg btn-primary btn-block small" type="submit">Regístrame</button>
        <p class="mt-3">Ya tengo una cuenta <a href="{{ path('app_login') }}">Iniciar sesión</a></p>

        {{ form_end(registrationForm) }}

    </div>

{% endblock %}
