<div class="card shadow">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button"
       aria-expanded="false" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold">Filtro de pedidos</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse" id="collapseCardExample">
        {{ form_start(filter, {'attr': {'id': 'filter', 'novalidate':'novalidate'}}) }}
        <div class="card-body row">
            <div class="col-md-4 col-sm-12">
                {{ form_row(filter.id) }}
            </div>
            <div class="col-md-4 col-sm-12">
                {{ form_row(filter.client) }}
            </div>
        </div>

        <div class="row text-center justify-content-center pb-3">
            <div class="col-sm-3 col-lg-2">
                <button class="btn btn-sm small btn-block btn-outline-dark" onclick="resetFormFilters('filter')" type="reset">Resetear</button>
            </div>
            <div class="col-sm-3 col-lg-2">
                <button class="btn btn-sm small btn-block btn-primary"
                        type="submit">Filtrar</button>
            </div>
        </div>

        {{ form_end(filter) }}
    </div>
</div>
