{% extends 'admin/template.html.twig' %}

{% block title %}{{ parent() }} - Pedidos{% endblock %}

{% block title_backoffice %}Pedidos{% endblock %}

 {% block breadcrumb %}
     <li class="breadcrumb-item"><a href="{{ path('index') }}">Dashboard</a></li>
     <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
 {% endblock %}

{% block container_backoffice %}

    {% include 'admin/purchases/filter_purchase.html.twig' %}

    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="table-responsive">
            <div class="table-toolbar-left" id="toolbar-table">
                <h4>Listado de pedidos</h4>
            </div>
            <div class="card-body">
                <table id="table"></table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">

        let
            $table = $('#table'),
            $filter = $('#filter'),
            $selections = [],
            $tableColumns = [
                {
                    field: 'state',
                    checkbox: true,
                    valign: 'middle',
                    visible: true
                }, {
                    field: 'master_id',
                    title: 'ID Pedido',
                    sortable: true,
                    visible: true,
                    formatter: 'purchaseLinkFormatter'
                }, {
                    field: 'client_id',
                    title: 'ID Cliente',
                    sortable: true,
                    visible: true,
                    formatter: 'clientFormatter'
                }, {
                    field: 'master_createdAt',
                    title: '<i class="far fa-calendar-alt" title="Fecha Pedido"></i>',
                    sortable: true,
                    visible: true,
                    align: "center",
                    formatter: 'dateFormatter'
                }, {
                    field: 'master_createdAt',
                    title: '<i class="far fa-clock" title="Hora Pedido"></i>',
                    sortable: true,
                    visible: true,
                    align: "center",
                    formatter: 'timeFormatter'
                },{
                    field: 'totalProducts',
                    title: 'Cantidad Productos',
                    sortable: true,
                    visible: true,
                    align: "center"
                }, {
                    field: 'totalStatus',
                    title: 'Estatus pedido',
                    sortable: true,
                    visible: true,
                    align: "center",
                    formatter: 'statusFormatter'
                }, {
                    field: 'actions',
                    title: '<i class="fa fa-cog"></i>',
                    align: 'center',
                    formatter: 'actionsPurchasesFormatter'
                }
            ],
            $tableUrl = '{{ path('admin_purchases_table_find_all_purchases') }}',
            $urlPurchase = '{{ path('admin_purchases_purchase', {'purchase' : ':id'}) }}'
        ;
    </script>
    {{ encore_entry_script_tags('admin_purchases') }}
{% endblock %}
