{% extends 'admin/template.html.twig' %}

{% block title %}{{ parent() }} - Pedido {{ purchase.id }}{% endblock %}

{% block title_backoffice %}Pedido {{ purchase.id }}{% endblock %}

 {% block breadcrumb %}
     <li class="breadcrumb-item"><a href="{{ path('index') }}">Dashboard</a></li>
     <li class="breadcrumb-item"><a href="{{ path('admin_purchases') }}">Pedidos</a></li>
     <li class="breadcrumb-item active" aria-current="page">Pedido {{ purchase.id }}</li>
 {% endblock %}

{% block container_backoffice %}

    <div class="card shadow">
        <div class="card-header">
            <h4>Detalles Pedido</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>ID
                        Cliente: </strong>{{ purchase.client ? purchase.client.id : 'Cliente no registrado' }}</li>
                <li class="list-group-item"><strong>Persona de contacto: </strong>{{ purchase.deliveryContactPerson }}
                </li>
                <li class="list-group-item"><strong>Teléfono de contacto: </strong>{{ purchase.deliveryPhoneNumber }}
                </li>
                <li class="list-group-item"><strong>Dirección de
                        envío: </strong>{{ purchase.deliveryAddress~' - '~purchase.deliveryPostalCode~' '~purchase.deliveryCity~' ('~purchase.deliveryProvince.name~')' }}
                </li>
                <li class="list-group-item"><strong>Fecha del pedido: </strong>{{ purchase.createdAt | date('d/m/Y') }}
                </li>
            </ul>
        </div>
    </div>

    {% include 'admin/purchases/filter_purchaseProduct.html.twig' %}

    <div class="card shadow mb-4">
        <div class="table-responsive">
            <div class="table-toolbar-left" id="toolbar-table">
                <h4>Lineas de pedido</h4>
            </div>
        </div>
        <div class="card-body">
            <table id="table"></table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">

        let
            $table = $('#table'),
            $filter = $('#filter'),
            $selections = [],
            $tableColumns = [
                {
                    field: 'state',
                    checkbox: true,
                    valign: 'middle',
                    visible: true
                }, {
                    field: 'master_id',
                    title: 'ID Producto',
                    sortable: true,
                    visible: true
                }, {
                    field: 'product_imageUrl',
                    title: '<i class="far fa-image"></i>',
                    visible: true,
                    align: "center",
                    valign: "middle",
                    formatter: 'imageFormatter'
                }, {
                    field: 'product_name',
                    title: 'Producto',
                    sortable: true,
                    visible: true
                }, {
                    field: 'product_price',
                    title: 'Precio (€)',
                    sortable: true,
                    visible: true,
                    formatter: 'moneyFormatter'
                }, {
                    field: 'master_quantity',
                    title: 'Unidades',
                    sortable: true,
                    visible: true
                }, {
                    field: 'product_price',
                    title: 'Total + IVA (€)',
                    sortable: true,
                    visible: true,
                    formatter: 'amountFormatter'
                }, {
                    field: 'product_stock',
                    title: 'Stock',
                    sortable: true,
                    visible: false
                }, {
                    field: 'category_name',
                    title: 'Categoría',
                    sortable: true,
                    visible: false
                }, {
                    field: 'status_id',
                    title: 'Estado',
                    sortable: true,
                    visible: true,
                    valign: "middle",
                    align: "center",
                    formatter: 'statusPurchaseProductFormatter'
                }, {
                    field: 'actions',
                    title: '<i class="fa fa-cog"></i>',
                    align: 'center',
                    formatter: 'actionsPurchasesFormatter'
                }
            ],
            $tableUrl = '{{ path('admin_purchases_table_find_all_purchase_products', { 'purchase' : purchase.id }) }}',
            $urlChangeStatus = '{{ path('admin_purchases_change_status', { 'purchaseProduct' : ':id' }) }}',
            $urlUploads = '{{ asset('uploads') }}'
        ;
    </script>
    {{ encore_entry_script_tags('admin_purchase') }}
{% endblock %}

