
<div class="card shadow mb-5">
    <div class="card-header">
        <h4>Datos personales</h4>
    </div>
    <div class="card-body">
        {{ form_start(formProfile, {'attr' : {'novalidate':'novalidate'}}) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formProfile.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formProfile.surnames) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formProfile.phoneNumber) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formProfile.province) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formProfile.city) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formProfile.postalCode) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formProfile.address) }}
            </div>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        {{ form_end(formProfile) }}
    </div>
</div>
