{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - Todos los productos{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Todos los productos</li>
{% endblock %}

{% block container %}
    {% include 'products/products.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}
