<h2 class="h2 mb-4">{{ titleProducts }} <span class="small text-muted">({{ products | length }})</span></h2>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    {% for product in products %}
        <div class="col mb-4">
            <div class="card shadow h-100">
                <a href="{{ path('products_product', {'product' : product.id}) }}"
                   class="text-dark text-decoration-none">
                    <img src="{{ asset('uploads/products/'~product.id~'/'~product.imageUrl) }}" class="card-img-top"
                         style="width: 120px; display: flex; margin: 15px auto;"
                         alt="{{ product.name }}">
                    <div class="card-body" style="height: 250px;">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="small">{{ product.description }}</p>
                    </div>
                </a>

                <div class="card-body text-center position-absolute" style="bottom: 0;">

                    {% if product.stock > 0 %}
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-light" onclick="subtractProduct({{ product.id }});">
                                <span class="fa fa-minus"></span>
                            </button>
                        </span>
                            <input type="text" readonly class="form-control" value="1" id="{{ product.id }}">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-light"
                                    onclick="sumProduct({{ product.id }},{{ product.stock }});">
                                <span class="fa fa-plus"></span>
                            </button>
                        </span>
                        </div>
                        <button class="btn btn-outline-primary btn-sm rounded small mt-2"
                                onclick="addCart('{{ path('products_add_cart', {'product' : product.id}) }}', {{ product.id }});">
                            <i class="fas fa-shopping-basket mr-3"></i>Añadir al carrito
                        </button>
                    {% else %}
                        <span class="text-danger">¡Sin stock!</span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
