<div class="container text-center my-3 mt-5 mb-5">
    <h4 class="h4">Productos Relacionados</h4>
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100 mt-3" data-ride="carousel">
            <div class="carousel-inner m-auto" style="width: 90%!important;" role="listbox">
                {% set active = 'active' %}
                {% for recommended in product.category.products %}
                    {% if product.id != recommended.id %}
                        <div class="carousel-item {{ active }}">
                            <div class="col-md-4">
                                <a href="{{ path('products_product', {'product': recommended.id}) }}"
                                   class="card shadow card-body text-decoration-none">
                                    <img class="img-fluid"
                                         src="{{ asset('uploads/products/'~recommended.id~'/'~recommended.imageUrl) }}">
                                    <h5 class="h5 mt-3 text-dark">{{ recommended.name }}</h5>
                                </a>
                            </div>
                        </div>
                        {% set active = '' %}
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev w-auto text-primary" href="#recipeCarousel" role="button"
               data-slide="prev">
                <span class="fas fa-chevron-left text-primary"></span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="fas fa-chevron-right text-primary"></span>
            </a>
        </div>
    </div>
</div>
