{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - {{ product.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('products') }}
{% endblock %}

 {% block breadcrumb %}
     <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
     <li class="breadcrumb-item"><a
                 href="{{ path('categories_category', {'category': product.category.id}) }}">{{ product.category.name }}</a>
     </li>
     <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
 {% endblock %}

{% block container %}

   {% include 'products/product/product.html.twig' %}

    {% include 'products/product/carousel.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}
