<div class="row mb-3">

    <div class="col-md-4 mb-2">
        <img src="{{ asset('uploads/products/'~product.id~'/'~product.imageUrl) }}" alt="{{ product.name }}"
             width="100%">
    </div>
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="h4 mt-0 mb-1 d-flex justify-content-between align-items-center">
                    {{ product.name }}
                    <span class="small text-muted">
                        <img src="{{ asset('uploads/brands/'~product.brand.imageUrl) }}" height="25"
                             alt="{{ product.brand.name }}">
                    </span>
                </h4>
            </div>
            <div class="card-body">
                <p>{{ product.description }}</p>

                <h4 class="h4">{{ product.price | number_format(2,',','.') }} €</h4>
                <small>IVA 21%
                    = {{ (((product.price * 21)/100) + product.price) | number_format(2,',','.') }} €</small>

                {% if product.stock > 0 %}
                    <p class="text-success mt-3">¡En stock!</p>

                    <div class="row mt-4">
                        <div class="col-sm-6 mb-4">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-light"
                                            onclick="subtractProduct({{ product.id }});">
                                        <span class="fa fa-minus"></span>
                                    </button>
                                </span>
                                <input type="text" readonly class="form-control" value="1" id="{{ product.id }}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-light"
                                            onclick="sumProduct({{ product.id }},{{ product.stock }});">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary w-100"
                                    onclick="addCart('{{ path('products_add_cart', {'product' : product.id}) }}', {{ product.id }});">
                                <i class="fas fa-shopping-basket mr-3"></i>Añadir al carrito
                            </button>
                        </div>
                    </div>
                {% else %}
                    <p class="text-danger mt-3">¡Sin stock!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
           aria-controls="description" aria-selected="true">Descripción</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
        {% include 'products/product/tabs/description.html.twig' %}
    </div>
</div>
