<div id="carouselCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% set activeIndicator = 'active' %}
        {% for key, product in products | slice(0,4) %}
            <li data-target="#carouselCaptions" data-slide-to="{{ key }}" class="{{ activeIndicator }}"></li>
            {% set activeIndicator = '' %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% set activeCarousel = 'active' %}
        {% for product in products | slice(0,4) %}
            <a href="{{ path('products_product', { 'product' : product.id }) }}" class="carousel-item {{ activeCarousel }}">
                <img src="{{ asset('uploads/products/'~product.id~'/'~product.imageUrl) }}"
                     class="d-block carousel-image"
                     width="15%"
                     alt="{{ product.name }}">
                <div class="carousel-caption text-right text-dark">
                    <img src="{{ asset('uploads/brands/'~product.brand.imageUrl) }}" alt="">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <h5>{{ product.price }}€</h5>
                </div>
            </a>
            {% set activeCarousel = '' %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
        <i class="fas fa-chevron-left text-dark" style="font-size: 30px;" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
        <i class="fas fa-chevron-right text-dark" style="font-size: 30px;"></i>
        <span class="sr-only">Next</span>
    </a>
</div>
