{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - Electronics UOC{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('carousel') }}
{% endblock %}

{% block carousel %}
    {% include 'index/carousel.html.twig' %}
{% endblock %}
{% block container %}
    {% include 'categories/categories.html.twig' %}
{% endblock %}

