{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Backoffice{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('backoffice') }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Page Wrapper -->
    <div id="wrapper">

       {% block sidebar %}
            {% include 'admin/sidebar.html.twig' %}
        {% endblock %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {% block topbar %}
                    {% include 'admin/topbar.html.twig' %}
                {% endblock %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">
                        {% block title_backoffice %}{% endblock %}
                        </h1>
                    </div>

                    <div aria-label="breadcrumb">
                        <ol class="breadcrumb bg-light mt-4">
                            {% block breadcrumb %}{% endblock %}
                        </ol>
                    </div>

                    {% block container_backoffice %}{% endblock %}

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

           {% block footer %}
               {% include 'admin/footer.html.twig' %}
            {% endblock %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#body">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Spinner -->
    <div class="cover_overlay">
        <div class="spinner-border text-primary spinner-overlay" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- /.Spinner -->

    <!-- Modal Form Centered -->
    <div class="modal fade" id="modalCenterForm" tabindex="-1" role="dialog"
         aria-labelledby="modalCenterFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content text-sm">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterFormTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Modal Large -->

    <!-- Modal Logout -->
    <div class="modal fade" id="modalLogout" tabindex="-1" role="dialog"
         aria-labelledby="modalLogoutTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-sm">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLogoutTitle">
                        Cerrar sesión
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vas a finalizar tu sesión actual.</p><p class="text-center">¿Deseas continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    <a type="button" class="btn btn-primary" href="{{ path('app_logout') }}"  id="logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Modal Logout -->
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('backoffice') }}
    {{ parent() }}
{% endblock %}
