<h2 class="h2 mb-4">Categorías</h2>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    {% for category in categories %}
        <a href="{{ path('categories_category', { 'category' : category.id }) }}" class="col mb-4 text-dark text-decoration-none">
            <div class="card shadow">
                <img src="{{ asset('uploads/categories/'~category.imageUrl) }}" class="card-img-top" alt="{{ category.name }}">
                <div class="card-body">
                    <h5 class="card-title text-muted">{{ category.name }}</h5>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
