{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - Electronic UOC{% endblock %}

 {% block breadcrumb %}
     <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
     <li class="breadcrumb-item"><a href="{{ path('categories') }}">Categorías</a></li>
     <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
 {% endblock %}

{% block container %}

    {% set products = category.products %}
    {% set titleProducts = category.name %}
    {% include 'products/products.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products') }}
{% endblock %}
