{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - Categorías{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categorías</li>
{% endblock %}

{% block container %}
    {% include 'categories/categories.html.twig' %}
{% endblock %}
