{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - Tramitar Pedido{% endblock %}

 {% block breadcrumb %}
     <li class="breadcrumb-item"><a href="{{ path('index') }}">Inicio</a></li>
     <li class="breadcrumb-item active" aria-current="page">Tramitar pedido</li>
 {% endblock %}

{% block container %}

    {% if status == 'success' %}

        <div class="card shadow">
            <div class="card-body">
                <h2 class="text-center h2 mb-4">¡Muchas gracias por tu compra!</h2>
                <p>Recibirás tu pedido en 24 horas. Si tienes cuenta, puedes hacer el seguimiento en el apartado <a href="{{ path('account') }}">Pedidos</a>.
                    Y si aún no tienes cuenta... ¿A que esperas? <a href="{{ path('app_register') }}">¡Regístrate!</a></p>

                <p class="mt-4">Gracias por confiar en Shuoc Electronics UOC. Tu tienda de electrónica de la UOC.</p>

                <p class="text-center mt-4"><a href="{{ path('products') }}" class="btn btn-success">Seguir comprando</a></p>
            </div>
        </div>

    {% else %}

        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h4>Resumen Pedido</h4>
                    </div>
                    <div class="card-block">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"><strong>Producto</strong></th>
                                <th scope="col"><strong>Precio</strong></th>
                                <th scope="col"><strong>Cantidad</strong></th>
                                <th scope="col"><strong>Total</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set purchase = app.session.get('purchase') %}
                            {% set total = 0 %}
                            {% for item in purchase.purchaseProducts %}
                                {% set product = item.product %}
                                {% set totalProduct = product.price * item.quantity %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price | number_format(2,',','.') }} €</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ (product.price * item.quantity) | number_format(2,',','.') }} €</td>
                                </tr>
                                {% set total = total + totalProduct %}
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td><strong>Subtotal</strong></td>
                                <td>{{ total | number_format(2,',','.') }} €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><strong>IVA 21%</strong></td>
                                <td>{{ ((total*21)/100) | number_format(2,',','.') }} €</td>
                            </tr>
                            {% set totalPurchase = ((total*21)/100)+ (total+10) %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td>{{ totalPurchase | number_format(2,',','.') }} €</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {{ form_start(form, {'attr' : {'novalidate':'novalidate'}}) }}

        <div class="card shadow mt-4">
            <div class="card-header">
                <h4>Datos de entrega</h4>
            </div>
            <div class="card-body">

                {{ form_row(form.deliveryProvince) }}
                {{ form_row(form.deliveryCity) }}
                {{ form_row(form.deliveryPostalCode) }}
                {{ form_row(form.deliveryAddress) }}
                {{ form_row(form.deliveryContactPerson) }}
                {{ form_row(form.deliveryEmail) }}
                {{ form_row(form.deliveryPhoneNumber) }}

            </div>
        </div>

        <div class="card shadow mt-4">
            <div class="card-header">
                <h4>Método de pago</h4>
            </div>
            <div class="card-body">
                <p>¡Shuoc ha decidido tirar la casa por la ventana! Así que a todas las compras que realices de aquí a final de curso <strong>¡Invita la casa!</strong></p>
            </div>
        </div>

        <div class="mt-3 mb-5 text-right">
            <button class="btn btn-success" type="submit">Tramitar y Pagar</button>
        </div>

        {{ form_end(form) }}

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let isToastr = '{{ toastr }}',
            status = '{{ status }}',
            message = '{{ message }}'
        ;
    </script>
    {{ encore_entry_script_tags('account') }}
{% endblock %}
