.error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}

.error:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim {
    0% {
        clip: rect(78px, 9999px, 4px, 0);
    }
    5% {
        clip: rect(87px, 9999px, 70px, 0);
    }
    10% {
        clip: rect(21px, 9999px, 60px, 0);
    }
    15% {
        clip: rect(79px, 9999px, 83px, 0);
    }
    20% {
        clip: rect(20px, 9999px, 28px, 0);
    }
    25% {
        clip: rect(42px, 9999px, 78px, 0);
    }
    30% {
        clip: rect(71px, 9999px, 37px, 0);
    }
    35% {
        clip: rect(89px, 9999px, 49px, 0);
    }
    40% {
        clip: rect(36px, 9999px, 48px, 0);
    }
    45% {
        clip: rect(77px, 9999px, 67px, 0);
    }
    50% {
        clip: rect(7px, 9999px, 94px, 0);
    }
    55% {
        clip: rect(90px, 9999px, 79px, 0);
    }
    60% {
        clip: rect(48px, 9999px, 57px, 0);
    }
    65% {
        clip: rect(64px, 9999px, 35px, 0);
    }
    70% {
        clip: rect(23px, 9999px, 88px, 0);
    }
    75% {
        clip: rect(68px, 9999px, 27px, 0);
    }
    80% {
        clip: rect(39px, 9999px, 98px, 0);
    }
    85% {
        clip: rect(97px, 9999px, 57px, 0);
    }
    90% {
        clip: rect(61px, 9999px, 53px, 0);
    }
    95% {
        clip: rect(79px, 9999px, 44px, 0);
    }
    100% {
        clip: rect(12px, 9999px, 19px, 0);
    }
}

@keyframes noise-anim {
    0% {
        clip: rect(78px, 9999px, 4px, 0);
    }
    5% {
        clip: rect(87px, 9999px, 70px, 0);
    }
    10% {
        clip: rect(21px, 9999px, 60px, 0);
    }
    15% {
        clip: rect(79px, 9999px, 83px, 0);
    }
    20% {
        clip: rect(20px, 9999px, 28px, 0);
    }
    25% {
        clip: rect(42px, 9999px, 78px, 0);
    }
    30% {
        clip: rect(71px, 9999px, 37px, 0);
    }
    35% {
        clip: rect(89px, 9999px, 49px, 0);
    }
    40% {
        clip: rect(36px, 9999px, 48px, 0);
    }
    45% {
        clip: rect(77px, 9999px, 67px, 0);
    }
    50% {
        clip: rect(7px, 9999px, 94px, 0);
    }
    55% {
        clip: rect(90px, 9999px, 79px, 0);
    }
    60% {
        clip: rect(48px, 9999px, 57px, 0);
    }
    65% {
        clip: rect(64px, 9999px, 35px, 0);
    }
    70% {
        clip: rect(23px, 9999px, 88px, 0);
    }
    75% {
        clip: rect(68px, 9999px, 27px, 0);
    }
    80% {
        clip: rect(39px, 9999px, 98px, 0);
    }
    85% {
        clip: rect(97px, 9999px, 57px, 0);
    }
    90% {
        clip: rect(61px, 9999px, 53px, 0);
    }
    95% {
        clip: rect(79px, 9999px, 44px, 0);
    }
    100% {
        clip: rect(12px, 9999px, 19px, 0);
    }
}

.error:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.mx-auto {
    margin-left: auto !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
