.cover_overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.cover_overlay .spinner-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.icons-shop {
    width: auto;
    text-align: right;
}

#form_signin, #form_register{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

#form_signin{
    max-width: 330px;
}

#form_register{
    max-width: 400px;
}

@media (min-width: 992px) {
    .icons-shop {
        display: none;
    }

    #navbarSupportedContent {
        margin-left: 150px;
    }
}

@media (max-width: 992px) {
    .icons-large {
        display: none;
    }

    .name-shop {
        display: none;
    }

}
