.carousel-item {
    margin-top: 5%;
}

.carousel-item .carousel-image {
    margin-left: 15%;
}

.carousel-item .carousel-caption {
    margin-right: 15%;
}

.carousel-caption img {
    height: 25px;
    vertical-align: baseline;
}

#carouselCaptions {
    background-color: #FFFFFF;
}

.carousel-indicators li {
    background-color:  #000000;
}

@media (max-width: 576px) {
    .carousel-item {
        margin-top: 300px;
    }

    .carousel-item .carousel-image {
        display: none !important;
    }
}

@media (min-width: 576px) and (max-width: 1200px) {
    .carousel-item {
        margin-top: 100px;
    }
}
