<div class="card shadow">
    <div class="card-header">
        <h4>Cambiar contraseña</h4>
    </div>
    <div class="card-body">
        {{ form_start(formChangePass, {'attr': {'novalidate' : 'novalidate'}}) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(formChangePass.oldPassword) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formChangePass.newPassword) }}
            </div>
        </div>

        <button class="btn btn-success" onclick="changePassword();" type="submit">Cambiar</button>
        {{ form_end(formChangePass) }}
    </div>
</div>
