<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3">

    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('build/images/shuoc.png') }}" width="30" height="30" alt=""> SHUOC</a>

        <ul class="icons-shop icons-small mt-3">
            <a href="{{ path('account') }}" class="nav-item text-decoration-none"><i class="fa fa-user-circle text-black-50"></i></a>
            <a href="{{ path('cart') }}" class="nav-item text-decoration-none ml-3">
                <i class="fas fa-shopping-basket text-black-50"></i>
                <span id="cartLengthMobile">{{ app.session.get('total') > 0 ? ('<span class="badge badge-danger">'~app.session.get('total')~'</span>') | raw : '' }}</span>
            </a>
        </ul>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categories') }}">Categorías</a>
                </li>
                <li class="nav-items">
                    <a href="{{ path('products') }}" class="nav-link">Productos</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('account') }}" class="nav-link">
                        <span class="name-shop ml-2 nav-link">Mi cuenta</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cart') }}" class="nav-link">
                        <span class="name-shop ml-2 nav-link">Mi cesta
                            <span id="cartLength">{{ app.session.get('total') > 0 ? ('<span class="badge badge-danger">'~app.session.get('total')~'</span>') | raw : '' }}</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
