{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        {% include 'navbar.html.twig' %}
    {% endblock %}

    {% block content %}

        {% block carousel %}{% endblock %}

        <div class="container">

            <div aria-label="breadcrumb">
                <ol class="breadcrumb bg-light mt-4">
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </div>

            {% block container %}{% endblock %}
        </div>

    {% endblock %}

    <!-- Spinner -->
    <div class="cover_overlay">
        <div class="spinner-border text-primary spinner-overlay" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- /.Spinner -->

    <!-- Modal Logout -->
    <div class="modal fade" id="modalLogout" tabindex="-1" role="dialog"
         aria-labelledby="modalLogoutTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-sm">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLogoutTitle">
                        Cerrar sesión
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vas a finalizar tu sesión actual.</p><p class="text-center">¿Deseas continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                    <a type="button" class="btn btn-primary" href="{{ path('app_logout') }}"  id="logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Modal Logout -->

{% endblock %}
