{% extends 'admin/template.html.twig' %}

{% block title %}{{ parent() }} - Darchboard{% endblock %}

{% block title_backoffice %}Dashboard{% endblock %}

 {% block breadcrumb %}
     <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
 {% endblock %}

{% block container_backoffice %}

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total pedidos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalPurchases }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Productos vendidos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalPurchaseProduct ? totalPurchaseProduct : 0 }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cubes fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total clientes
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalCustomers }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Devoluciones
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalReturned }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-backspace fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
