{% for purchase in purchases %}
    <div class="card shadow mb-3">
        <div class="card-header">
            <h6 class="h6 text-right"><strong>Nº Pedido: </strong>{{ "%09d"|format(purchase.id) }}</h6>
        </div>
        <div class="card-body">
            {% set totalPurchase = 0 %}
            <ul class="list-unstyled list-group-flush">
                {% for purchaseProduct in purchase.purchaseProducts %}
                    {% set product = purchaseProduct.product %}
                    <li class="media list-group-item d-flex flex-wrap">
                        <img src="{{ asset('uploads/products/'~product.id~'/'~product.imageUrl) }}" class="mr-3"
                             width="100" alt="{{ product.name }}">
                        <div class="media-body">
                            {% if purchaseProduct.statusPurchaseProduct.id == 1 %}
                                <p class="badge badge-secondary small">{{ purchaseProduct.statusPurchaseProduct.name }}</p>
                            {% elseif purchaseProduct.statusPurchaseProduct.id == 2 %}
                                <p class="badge badge-primary small">{{ purchaseProduct.statusPurchaseProduct.name }}</p>
                            {% elseif purchaseProduct.statusPurchaseProduct.id == 3 %}
                                <p class="badge badge-success small">{{ purchaseProduct.statusPurchaseProduct.name }}</p>
                            {% elseif purchaseProduct.statusPurchaseProduct.id == 4 %}
                                <p class="badge badge-danger small">{{ purchaseProduct.statusPurchaseProduct.name }}</p>
                            {% elseif purchaseProduct.statusPurchaseProduct.id == 5 %}
                                <p class="badge badge-warning small">{{ purchaseProduct.statusPurchaseProduct.name }}</p>
                            {% else %}
                                <p class="badge badge-info small">{{ purchaseProduct.statusPurchaseProduct.name }}</p>
                            {% endif %}
                            <h5 class="mt-0 mb-1 d-flex justify-content-between align-items-center">{{ product.name }}
                                <span>{{ product.price | number_format(2,',','.') }} €</span></h5>
                            <p>{{ product.description }}</p>
                            <p><strong>Cantidad: </strong>{{ purchaseProduct.quantity }}</p>
                            <p><strong>Fecha compra: </strong>{{ product.createdAt| date('d/m/Y') }}</p>
                            <a type="button" href="{{ path('products_product', {'product' : product.id}) }}"
                               class="btn btn-primary btn-sm small">Volver a comprar</a>
                        </div>
                    </li>
                    {% set totalPurchase = totalPurchase + (product.price * purchaseProduct.quantity) %}
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <h6 class="h6 text-right"><strong>Total +
                    IVA: </strong>{{ (((totalPurchase*21)/100)+totalPurchase) | number_format(2,',','.') }} €
            </h6>
        </div>
    </div>
{% else %}
    <div class="card shadow mb-3">
        <div class="card-body">
            <p class="text-muted">Aun no has realizado ninguna compra. ¿A qué esperas? <a href="{{ path('products') }}">¡Haz tu primera compra ya!</a></p>
        </div>
    </div>
{% endfor %}
