{% extends 'template.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('404') }}
{% endblock %}

{% block content %}

    <div class="text-center mt-5">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Simulación No Encontrada</p>
        <p class="text-gray-500 mb-0">Parece que has encontrado un error en la Matrix ...</p>
        <p></p>
        <a href="{{ path('index') }}"><i class="fas fa-capsules"></i> Escoger la píldora azul</a>
    </div>

{% endblock %}
